build/
build-code/
dynawo/sources/Common/*_keys.cpp
dynawo/sources/Common/*_keys.h
dynawo/sources/config.h
dynawo/sources/gitversion.h*
install/
deploy/
OpenModelica
distributions/
nrt/data/**/outputs*/
examples/**/outputs*/
nrt/data/*/*/execution/
nrt/data/SIMOrder1Prediction/compilation/
dynawo/sources/Models/CPP/ModelNetwork/DYNModelNetwork.hpp
dynawo/sources/Models/CPP/ModelFrequency/ModelOmegaRef/DYNModelOmegaRef.hpp
dynawo/sources/Models/CPP/ModelFrequency/ModelSignalN/DYNModelSignalN.hpp
dynawo/sources/Models/CPP/Components/ModelLoadRestorativeWithLimits/DYNModelLoadRestorativeWithLimits.hpp
dynawo/sources/Models/CPP/Controls/Shunts/ModelCentralizedShuntsSectionControl/DYNModelCentralizedShuntsSectionControl.hpp
dynawo/sources/Models/CPP/Controls/Voltage/ModelVoltageMeasurementsUtilities/DYNModelVoltageMeasurementsUtilities.hpp
dynawo/sources/Models/CPP/Events/ModelVariationArea/DYNModelVariationArea.hpp
dynawo/sources/Models/CPP/Events/ModelAreaShedding/DYNModelAreaShedding.hpp
dynawo/sources/Models/CPP/Events/ModelVoltageSetPointChange/DYNModelVoltageSetPointChange.hpp
dynawo/sources/Models/CPP/Updatables/UpdatableContinuous/DYNUpdatableContinuous.hpp
dynawo/sources/Models/CPP/Updatables/UpdatableDiscrete/DYNUpdatableDiscrete.hpp
dynawo/sources/Models/CPP/Updatables/UpdatableBoolean/DYNUpdatableBoolean.hpp
dynawo/sources/Models/CPP/Updatables/UpdatableInteger/DYNUpdatableInteger.hpp
nrt/output/
nbproject/*
util/nrt_diff/output/
util/nrt_diff/test/cases/outputs/**
util/nrt_diff/nrtDiff.txt
util/updateXML/**/outputs*
util/timeline_filter/test/filtered*
documents/ModelicaDocumentation
.gitignore_local
nrt/documentation/*.tex
documents/getting_started/Example/TestCompile/Basic/BlackBox/Test.so
documents/getting_started/Example/TestCompile/Basic/BlackBox/outputs/
documents/getting_started/Example/TestCompile/Basic/compilation/
documents/getting_started/Example/TestCompile/Basic/outputs/
documents/getting_started/Example/TestCompile/ExternalVariables/compilation/
documents/getting_started/Example/TestDumpNoExternal/Test.so
documents/getting_started/Example/TestDump/
documents/getting_started/Example/TestPreassembledNoExternal/Simulation/outputs/
documents/getting_started/Example/TestPreassembledNoExternal/SimulationCompiledLib/Test.so
documents/getting_started/Example/TestPreassembledNoExternal/SimulationCompiledLib/outputs/
documents/getting_started/Example/TestPreassembledNoExternal/compilation/
documents/getting_started/Example/TestPreassembled/compilation/Model1.mo
documents/getting_started/Example/TestPreassembled/compilation/Model1.xml
documents/getting_started/Example/TestPreassembled/compilation/Model2.mo
documents/getting_started/Example/TestPreassembled/compilation/Model2.xml
documents/getting_started/Example/TestPreassembled/compilation/Test.so
documents/getting_started/Example/TestPreassembled/compilation/Test_*
util/curvesToHtml/resources/arrow-down.gif
util/curvesToHtml/resources/arrow-left.gif
util/curvesToHtml/resources/arrow-right.gif
util/curvesToHtml/resources/arrow-up.gif
util/curvesToHtml/resources/jquery.flot.crosshair.js
util/curvesToHtml/resources/jquery.flot.js
util/curvesToHtml/resources/jquery.flot.navigate.js
util/curvesToHtml/resources/jquery.flot.selection.js
util/curvesToHtml/resources/jquery.js
cpplint/cpplint.py
cpplint/bin/
cpplint/cpplint-1.4.4-py2.7.egg-info/
dynawo/3rdParty/libxml/sax/formatter/include/xml/sax/formatter/FormatterVersion.h
dynawo/3rdParty/libxml/sax/parser/include/xml/sax/parser/ParserVersion.h
**/version.h
**/config.h
OpenModelica/Source
OpenModelica/Install
documentation/dynawoDocumentation
util/autocompletion/_dynawo
.DS_Store
curvesOutput
*.aux
*.bak-mo
*.bbl
*.blg
*.dvi
*.gz
*.log
*.orig
*.out
*.pdf
*.pyc
*.toc
*.zip
!**/reference/**
nrt/data/TrapezoidalTest/reference/**
!documentation/resources/exampleErrors/dynawoBadType.log
!documentation/resources/exampleErrors/dynawoMissingConnection.log
!documentation/resources/exampleErrors/dynawoParameterNotFound.log
!documentation/resources/exampleErrors/dynawoWrongConnect.log
!documentation/resources/exampleErrors/dynawoWrongConnectType.log
!util/nrt_diff/test/dynawo.log
!util/nrt_diff/test/dynawo2.log
!util/nrt_diff/test/timeline.log
!util/nrt_diff/test/timeline2.log
!util/nrt_diff/test/timeline3.log

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

myEnvDynawo.sh
b/
b-3-p/
