build/
build-code/
dynawo/sources/Common/*_keys.cpp
dynawo/sources/Common/*_keys.h
dynawo/sources/Common/*_oppositeEvents.py
dynawo/sources/Models/Modelica/Dynawo/NonElectrical/Logs/*Keys.mo
dynawo/sources/config.h
dynawo/sources/gitversion.h*
install/
deploy/
OpenModelica/
distributions/
nrt/data/*/outputs*/
nrt/data/*/*/outputs*/
nrt/data/*/*/*/outputs*/
nrt/data/*/*/*/*/outputs*/
examples/*/*/outputs*/
examples/*/*/*/outputs*/
examples/*/*/*/*/outputs*/
examples/*/*/*/*/*/outputs*/
examples/*/*/*/*/*/*/outputs*/
!examples/*/*/*/reference/*
!examples/*/*/reference/*
examples/*/description/*aux
examples/*/description/*pdf
examples/*/description/*gz
examples/*/description/*toc
examples/*/description/*out
examples/*/description/*log
!nrt/data/*/*/reference/outputs*/
!nrt/data/*/*/*/reference/outputs*/
nrt/data/*/*/execution/
nrt/data/*/*/description/*.log
nrt/data/*/*/description/*.pdf
nrt/data/*/*/description/*.aux
nrt/data/*/*/*/description/*.log
nrt/data/*/*/*/description/*.pdf
nrt/data/*/*/*/description/*.aux
nrt/data/*/*/*/description/*.gz
nrt/data/*/*/description/*.gz
nrt/data/*/*/*/description/*.out
nrt/data/*/*/description/*.out
dynawo/sources/Models/CPP/ModelNetwork/DYNModelNetwork.hpp
dynawo/sources/Models/CPP/ModelFrequency/ModelOmegaRef/DYNModelOmegaRef.hpp
dynawo/sources/Models/CPP/ModelFrequency/ModelSignalN/DYNModelSignalN.hpp
dynawo/sources/Models/CPP/Components/ModelLoadRestorativeWithLimits/DYNModelLoadRestorativeWithLimits.hpp
dynawo/sources/Models/CPP/Controls/Shunts/ModelCentralizedShuntsSectionControl/DYNModelCentralizedShuntsSectionControl.hpp
dynawo/sources/Models/CPP/Events/ModelVariationArea/DYNModelVariationArea.hpp
dynawo/sources/Models/CPP/Events/ModelAreaShedding/DYNModelAreaShedding.hpp
dynawo/sources/Models/CPP/Events/ModelVoltageSetPointChange/DYNModelVoltageSetPointChange.hpp
nrt/output/
*.pyc
nbproject/*
util/nrt_diff/output/
util/nrt_diff/test/cases/outputs/**
util/nrt_diff/nrtDiff.txt
util/timeline_filter/test/filtered*
documents/ModelicaDocumentation
.gitignore_local
nrt/documentation/*.aux
nrt/documentation/*.pdf
nrt/documentation/*.log
nrt/documentation/*.tex
nrt/documentation/*.toc
nrt/documentation/*.out
documents/getting_started/Example/TestCompile/Basic/BlackBox/Test.so
documents/getting_started/Example/TestCompile/Basic/BlackBox/outputs/
documents/getting_started/Example/TestCompile/Basic/compilation/
documents/getting_started/Example/TestCompile/Basic/outputs/
documents/getting_started/Example/TestCompile/ExternalVariables/compilation/
documents/getting_started/Example/TestDumpNoExternal/Test.so
documents/getting_started/Example/TestDump/
documents/getting_started/Example/TestPreassembledNoExternal/Simulation/outputs/
documents/getting_started/Example/TestPreassembledNoExternal/SimulationCompiledLib/Test.so
documents/getting_started/Example/TestPreassembledNoExternal/SimulationCompiledLib/outputs/
documents/getting_started/Example/TestPreassembledNoExternal/compilation/
documents/getting_started/getting_started.aux
documents/getting_started/getting_started.bbl
documents/getting_started/getting_started.blg
documents/getting_started/getting_started.dvi
documents/getting_started/getting_started.log
documents/getting_started/getting_started.out
documents/getting_started/getting_started.pdf
documents/getting_started/getting_started.synctex.gz
documents/getting_started/getting_started.toc
documents/getting_started/latex_xml_style.log
documents/getting_started/Example/TestPreassembled/compilation/Model1.mo
documents/getting_started/Example/TestPreassembled/compilation/Model1.xml
documents/getting_started/Example/TestPreassembled/compilation/Model2.mo
documents/getting_started/Example/TestPreassembled/compilation/Model2.xml
documents/getting_started/Example/TestPreassembled/compilation/Test.so
documents/getting_started/Example/TestPreassembled/compilation/Test_*
documents/inputFiles/DynawoInputFiles.aux
documents/inputFiles/DynawoInputFiles.log
documents/inputFiles/DynawoInputFiles.out
documents/inputFiles/DynawoInputFiles.pdf
documents/inputFiles/DynawoInputFiles.synctex.gz
documents/inputFiles/DynawoInputFiles.toc
dynawo/3rdParty/adept/adept-*.tar.gz
dynawo/3rdParty/suitesparse/SuiteSparse-*.tar.gz
dynawo/3rdParty/nicslu/_nicslu301.zip
dynawo/3rdParty/sundials/sundials-*.tar.gz
dynawo/3rdParty/xercesc/xerces-c-*.tar.gz
dynawo/3rdParty/libarchive/libarchive-*.tar.gz
dynawo/3rdParty/boost/boost_*.tar.gz
dynawo/3rdParty/zlib/zlib-*.tar.gz
dynawo/3rdParty/modelicalib/ModelicaStandardLibrary-*.tar.gz
dynawo/3rdParty/libxml2/v*.tar.gz
dynawo/3rdParty/libiidm/v*.tar.gz
cpplint/*.tar.gz
dynawo/3rdParty/googletest/googletest-release-*.tar.gz
util/curvesToHtml/resources/arrow-down.gif
util/curvesToHtml/resources/arrow-left.gif
util/curvesToHtml/resources/arrow-right.gif
util/curvesToHtml/resources/arrow-up.gif
util/curvesToHtml/resources/jquery.flot.crosshair.js
util/curvesToHtml/resources/jquery.flot.js
util/curvesToHtml/resources/jquery.flot.navigate.js
util/curvesToHtml/resources/jquery.flot.selection.js
util/curvesToHtml/resources/jquery.js
cpplint/cpplint.py
cpplint/bin/
cpplint/cpplint-1.4.4-py2.7.egg-info/
dynawo/3rdParty/libxml/sax/formatter/include/xml/sax/formatter/FormatterVersion.h
dynawo/3rdParty/libxml/sax/parser/include/xml/sax/parser/ParserVersion.h
**/version.h
**/config.h
OpenModelica/Source
OpenModelica/Install
documentation/advancedDoc/advancedDoc.aux
documentation/advancedDoc/advancedDoc.log
documentation/advancedDoc/advancedDoc.out
documentation/advancedDoc/advancedDoc.pdf
documentation/advancedDoc/advancedDoc.toc
documentation/configuringDynawo/DynawoInputFiles.aux
documentation/configuringDynawo/DynawoInputFiles.log
documentation/configuringDynawo/DynawoInputFiles.out
documentation/configuringDynawo/DynawoInputFiles.pdf
documentation/configuringDynawo/DynawoInputFiles.toc
documentation/configuringDynawo/DynawoInputFiles.synctex.gz
documentation/functionalDoc/functionalDoc.aux
documentation/functionalDoc/functionalDoc.bbl
documentation/functionalDoc/functionalDoc.blg
documentation/functionalDoc/functionalDoc.log
documentation/functionalDoc/functionalDoc.out
documentation/functionalDoc/functionalDoc.pdf
documentation/functionalDoc/functionalDoc.toc
documentation/functionalDoc/functionalDoc.synctex.gz
documentation/installation/installation.aux
documentation/installation/installation.log
documentation/installation/installation.out
documentation/installation/installation.pdf
documentation/installation/installation.toc
documentation/installation/installation.synctex.gz
documentation/introduction/introduction.aux
documentation/introduction/introduction.log
documentation/introduction/introduction.out
documentation/introduction/introduction.pdf
documentation/introduction/introduction.toc
documentation/introduction/introduction.synctex.gz
documentation/installation/installation.bbl
documentation/installation/installation.blg
documentation/dynawoDocumentation
documentation/licenses/Adept/license.aux
documentation/licenses/Adept/license.log
documentation/licenses/Adept/license.pdf
documentation/licenses/Adept/license.synctex.gz
documentation/licenses/Nicslu/license.aux
documentation/licenses/Nicslu/license.log
documentation/licenses/Nicslu/license.pdf
documentation/licenses/Nicslu/license.synctex.gz
documentation/licenses/OpenModelica/license.aux
documentation/licenses/OpenModelica/license.log
documentation/licenses/OpenModelica/license.pdf
documentation/licenses/OpenModelica/license.synctex.gz
documentation/licenses/cpplint/license.aux
documentation/licenses/cpplint/license.log
documentation/licenses/cpplint/license.pdf
documentation/licenses/cpplint/license.synctex.gz
documentation/licenses/dynawo-documentation/license.aux
documentation/licenses/dynawo-documentation/license.log
documentation/licenses/dynawo-documentation/license.pdf
documentation/licenses/dynawo-documentation/license.synctex.gz
documentation/licenses/dynawo/license.aux
documentation/licenses/dynawo/license.log
documentation/licenses/dynawo/license.pdf
documentation/licenses/dynawo/license.synctex.gz
documentation/licenses/jQuery/license-1.aux
documentation/licenses/jQuery/license-1.log
documentation/licenses/jQuery/license-1.pdf
documentation/licenses/jQuery/license-1.synctex.gz
documentation/licenses/jQuery/license-2.aux
documentation/licenses/jQuery/license-2.log
documentation/licenses/jQuery/license-2.pdf
documentation/licenses/jQuery/license-2.synctex.gz
documentation/licenses/suitesparse/license.aux
documentation/licenses/suitesparse/license.log
documentation/licenses/suitesparse/license.pdf
documentation/licenses/suitesparse/license.synctex.gz
documentation/licenses/sundials/license.aux
documentation/licenses/sundials/license.log
documentation/licenses/sundials/license.pdf
documentation/licenses/sundials/license.synctex.gz
documentation/licenses/Adept/license-no-numbering.aux
documentation/licenses/Adept/license-no-numbering.log
documentation/licenses/Adept/license-no-numbering.pdf
documentation/licenses/Nicslu/license-no-numbering.aux
documentation/licenses/Nicslu/license-no-numbering.log
documentation/licenses/Nicslu/license-no-numbering.pdf
documentation/licenses/OpenModelica/license-no-numbering.aux
documentation/licenses/OpenModelica/license-no-numbering.log
documentation/licenses/OpenModelica/license-no-numbering.pdf
documentation/licenses/cpplint/license-no-numbering.aux
documentation/licenses/cpplint/license-no-numbering.log
documentation/licenses/cpplint/license-no-numbering.pdf
documentation/licenses/dynawo-documentation/license-no-numbering.aux
documentation/licenses/dynawo-documentation/license-no-numbering.log
documentation/licenses/dynawo-documentation/license-no-numbering.pdf
documentation/licenses/dynawo/license-no-numbering.aux
documentation/licenses/dynawo/license-no-numbering.log
documentation/licenses/dynawo/license-no-numbering.pdf
documentation/licenses/jQuery/license-1-no-numbering.aux
documentation/licenses/jQuery/license-1-no-numbering.log
documentation/licenses/jQuery/license-1-no-numbering.pdf
documentation/licenses/jQuery/license-2-no-numbering.aux
documentation/licenses/jQuery/license-2-no-numbering.log
documentation/licenses/jQuery/license-2-no-numbering.pdf
documentation/licenses/suitesparse/license-no-numbering.aux
documentation/licenses/suitesparse/license-no-numbering.log
documentation/licenses/suitesparse/license-no-numbering.pdf
documentation/licenses/sundials/license-no-numbering.aux
documentation/licenses/sundials/license-no-numbering.log
documentation/licenses/sundials/license-no-numbering.pdf
documentation/licenses/xerces-c/license-no-numbering.aux
documentation/licenses/xerces-c/license-no-numbering.log
documentation/licenses/xerces-c/license-no-numbering.pdf
documentation/advancedDoc/advancedDoc.aux
documentation/advancedDoc/advancedDoc.log
documentation/advancedDoc/advancedDoc.out
documentation/advancedDoc/advancedDoc.pdf
documentation/advancedDoc/advancedDoc.synctex.gz
documentation/advancedDoc/advancedDoc.toc
util/autocompletion/_dynawo
.DS_Store
util/curvesToHtml/resources/1.3.2.tar.gz
util/curvesToHtml/resources/v0.6.0.tar.gz
curvesOutput
*.orig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

myEnvDynawo.sh
